* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(22, 20, 20);
  flex-direction: column;
}
input[type="radio"] {
  position: relative;
  width: 400px;
  height: 120px;
  margin: 20px;
  background-color: rgb(63, 56, 56);
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 60px;
  box-shadow: -15px -15px 50px rgba(255, 255, 255, 0.1),
    15px 15px 30px rgba(0, 0, 0, 1),
    inset -5px -10px 5px rgba(255, 255, 255, 0.1),
    inset 2px 2px 9px rgba(0, 0, 0, 0.5), 0 0 0 3px rgb(32, 28, 28);
  transition: 0.5s;
}
input[type="radio"]:checked {
  background-color: rgb(13, 240, 25);
}
input[type="radio"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 120px;
  background-color: rgb(54, 50, 50);
  border-radius: 60px;
  box-shadow: 0 0 2px rgb(119, 109, 109);
  transform: scale(0.98, 0.94);
  transition: 0.5s;
}
input[type="radio"]:checked:before {
  left: 170px;
}
input[type="radio"]::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 195px;
  top: 50px;
  border-radius: 50%;
  top: calc(50% - 2px);
  transition: 0.5s;
  background-color: #555;
}
input[type="radio"]:checked::after {
  background-color: rgb(13, 240, 25);
  left: calc(65px + 290px);
  box-shadow: 0 0 9px rgb(13, 240, 25), 0 0 18px rgb(13, 240, 25),
    0 0 36px rgb(13, 240, 25);
}
