body {
  background: #1e1261;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ghost {
  align-content: center;
  background-color: white;
  width: 140px;
  height: 184px;
  border-radius: 80px 80px 0 0;
  position: relative;
  cursor: pointer;
  z-index: 1;
  animation: floating 2s infinite ease-in-out;
}
@keyframes floating {
  50% {
    transform: translateY(-130px);
  }
}

.face {
  position: absolute;
  width: 120px;
  top: 60px;
  left: calc(50% -50px);
}

.eye {
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 28px;
}

.eye span {
  width: 25px;
  height: 25px;
  background-color: #7065b9;
  border-radius: 50%;
  transition: 0.3s linear;
}

.ghost:hover .eye span {
  width: 25px;
  height: 25px;
  background-color: black;
}
.ghost:hover .eye span:last-child {
  width: 25px;
  height: 17px;
  border-radius: 75%;
  background-color: black;
}
.mouth {
  width: 45px;
  height: 20px;
  background-color: #7065b9;
  margin: auto;
  border-radius: 0 0 20px 20px;
  transition: 0.3s linear;
}
.ghost:hover .mouth {
  height: 40px;
  width: 35px;
  background-color: red;
}

.hands {
  width: 180px;
  position: absolute;
  display: flex;
  left: -20px;
  top: 80px;
  justify-content: space-between;
}

.hands span {
  width: 24px;
  height: 30px;
  background: white;
  border-radius: 20px 0 0 20px;
  z-index: -1;
}

.hands span:last-child {
  border-radius: 0 20px 20px 0;
}

.feet {
  position: absolute;
  width: 140px;
  display: flex;
  bottom: -35px;
}
.feet span {
  background-color: white;
  width: 60px;
  height: 60px;
  flex: 1;
  border-radius: 0 0 24px 24px;
}
.feet span:first-child {
  border-radius: 0 0 34px 24px;
}
.feet span:last-child {
  border-radius: 0 0 24px 34px;
}
